<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
   <table class="table-bordered table">

   <thead class="thead-light">
     <tr>
         <th>Sno.</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Address</th>
     </tr>
   </thead>

       <tbody>
   {% for x in person %}
   <tr>
       <td>{{ forloop.counter }}</td>
       <td>{{ x.name }}</td>
       <td>{{ x.email }}</td>
       <td>{{ x.phone_no }}</td>
       <td>{{ x.address }}</td>
   </tr>
       {% endfor %}
       </tbody>
        </table>
</body>
</html>